
  @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
    margin: 0 auto;
    padding: 0 auto;
}

body{ 
    background-color: hsl(212, 45%, 89%);
    font-family: 'Zen Dots',sans-serif;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;

}

.container{
    background-color: hsl(0, 0%, 100%);
    max-width: 288px;
    border-radius: 10px;
    margin: 20px;
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

img{
    
    border-radius: 12px;
    text-align: center;
    margin: 0 ;
    max-height: 100%;
	max-width: 100%;
}

h1{
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
    padding: 22px 10px;
    font-weight: 700;
    font-size: 15px ;

}

p{
    color: hsl(220, 15%, 55%);
    padding: 22px 10px;
    font-weight: 400;
    font-size: 15px ;
}

.attribution {
	font-size: 11px;
	text-align: center;
    align-items: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}